<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Ping Pong!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Ping Pong!</h1>
            <p>Enter a number: </p>
            <form action='/ping_pong'>
                <div class='form-group'>
                  <label for='input-number'>Number:</label>
                  <input id='input-number' name='input-number' class='form-control' type='text'>
                </div>
                <button type='submit' class='btn-success'>PingPong</button>
            </form>
        </div>
    </body>
</html>
