<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Ping Pong!</title>
    </head>
    <body>
        <div class="container">
            <h1>Your PingPong:</h1>
            {% for number in result %}
                <li>{{ number }}</li>
            {% endfor %}
        </div>
    </body>
</html>
